@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
:root {
  --clr-primary: #fa7453;
  --clr-secondary: #191826;

  --clr-accent-1: #66e2dc;
  --clr-accent-2: #ffb964;

  --clr-neutral-100: #fcfaf9;

  --clr-font-dark: #fcfaf9;
  --clr-font-light: #191826;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 400px;
  background-image: url(./assets/bg-main-mobile.png);
  background-color: var(--clr-neutral-100);
  background-attachment: fixed;
  background-position: 75px -200px;
  background-repeat: no-repeat;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.25;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.5rem;
}

header {
  padding: 2rem;
}

.hero {
  margin-bottom: 10rem;
  padding-inline: 2rem;
}

.cta-cards {
  background-color: var(--clr-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-image: url(./assets/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.img-card {
  width: 250px;
  margin-top: -100px;
  margin-bottom: 50px;
}

.price-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: var(--clr-primary);
  color: var(--clr-font-dark);
}

.loose {
  font-size: 1.25rem;
  line-height: 2.125rem;
}

.tight {
  font-size: 1rem;
  line-height: 1.625rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 3.75rem;
  width: 20.75rem;
  border: 0;
  border-radius: 0.75rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
}

.btn-dark {
  background-color: var(--clr-secondary);
  color: var(--clr-font-dark);
}

.btn-dark:hover {
  background-color: var(--clr-accent-1);
}

.btn-light {
  background-color: #fcfaf9;
  color: var(--clr-font-light);
}

.btn-light:hover {
  background-color: var(--clr-accent-2);
}
