@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

html {
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
}
