@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

:root {
  --clr-neutral-100: #ffffff;
  --clr-neutral-300: #83869a;
  --clr-neutral-500: #666ca3;
  --clr-neutral-900: #13183f;

  --clr-primary-500: #ffa7c3;
  --clr-primary-700: #f74780;

  --gradient-1: #f02aa6, #ff6f48;
  --gradient-2: #4851ff, #f02aa6;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-position: fixed;
  background: linear-gradient(
    0deg,
    var(--clr-neutral-500),
    5%,
    var(--clr-neutral-100)
  );
  color: var(--clr-neutral-900);
}

section.cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  padding-inline: 1rem;
}

.hero--card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.hero--card .btn {
  align-self: start;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.275;
}

h3 {
  font-size: 2rem;
  line-height: 1.25;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.16;
}

p {
  margin-bottom: 1rem;
}

p.body--med {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: var(--clr-neutral-300);
}

p.body--small {
  line-height: 1.75;
  font-weight: 500;
  color: var(--clr-neutral-300);
}

.gradient-1 {
  background: linear-gradient(0deg, var(--gradient-1));
  color: var(--clr-neutral-100);
}

.gradient-2 {
  background: linear-gradient(0deg, var(--gradient-2));
  color: var(--clr-neutral-100);
}
.btn {
  border-radius: 100rem;
  background-color: var(--clr-neutral-900);
  text-decoration: none;
  padding: 1rem 2rem;
}

.btn:hover {
  background-color: var(--clr-neutral-500);
}

.btn.gradient-1:hover,
.btn.gradient-2:hover {
  opacity: 0.8;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1rem;
  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
}
.card h3 {
  color: var(--clr-neutral-100);
}

.card img {
  width: 3rem;
  margin-top: -2.5rem;
}

.card a {
  color: var(--clr-primary-700);
  text-decoration: none;
  font-weight: 700;
}

/* mobile layout */

@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
}
